@page "/collection"

@rendermode InteractiveServer

@inject ToastService ToastService
@inject ILocationService LocationService
@inject ICurrencyService CurrencyService
@inject ICollectionService CollectionService
@inject UserSession User
@inject IJSRuntime JS

<!--Auto scroll-->
<div id="autoScroll"></div>

<div class="container-fluid ">

    <!-- ========== Form =========== -->
    <EditForm Model="parameter" OnValidSubmit="OnFormSubmit">
        <DataAnnotationsValidator />

        <!-- ========== Header ========== -->
        <div class="section-header d-flex justify-content-between align-items-center">

            <div class="d-flex align-items-center">
                <img width="50" height="50" src="/img/collection.png" class="me-2" />

                <div class="d-flex flex-column">
                    <span class="fw-semibold">Collection Module</span>
                    <small class="lh-1 small-text">Manage how payments are collected</small>
                </div>
            </div>

            <div>
                <button class="btn btn-sm @(canUpdate ? "btn-info text-black" : "btn-primary text-white") border-0"
                        type="submit"
                        disabled="@submitting">
                    @if (submitting)
                    {
                        <span class="spinner-border spinner-border-sm me-2"
                              role="status"
                              aria-hidden="true"></span>
                        <span>Saving...</span>
                    }
                    else
                    {
                        @(canUpdate ? "Update Collection" : "Add Collection")
                    }
                </button>

                <button class="btn btn-sm btn-secondary border-0"
                        type="button"
                        @onclick="ResetProperties">
                    Discard
                </button>
            </div>
        </div>

        <!-- ========== Content ========== -->
        <div class="card border-1 rounded-0 p-4">
            <div class="row mt-3">


                <!-- Left Side -->
                <div class="col-lg-6">

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label fw-semibold">Collection No.</label>
                            <select class="form-select"
                                    @bind="selectedCollectionNumber"
                                    @bind:after="OnSelectedValueChanged"
                                    aria-label="Small select example">
                                @foreach (var item in MemoryStoredData.GetCollectionNumber())
                                {
                                    <option value="@item.flngCollectionNumberKey">@item.fstrCollectionNumberType</option>
                                }
                            </select>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label class="form-label fw-semibold">Collection Date</label>
                            <InputDate TValue="DateTime?"
                                       class="form-control"
                                       Value="@parameter.TransactionDate"
                                       ValueChanged="OnDateChanged"
                                       ValueExpression="@(() => parameter.TransactionDate)" />

                            <ValidationMessage For="@(() => parameter.TransactionDate)" />
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label fw-semibold">Collection Type</label>
                            <InputSelect class="form-select"
                                         @bind-Value="parameter.CollectionTypeKey">
                                @foreach (var c in MemoryStoredData.GetCollectionType().Where(a => a.fblnActive == true).ToList())
                                {
                                    <option value="@c.flngCollectionTypeKey">@c.fstrCollectionType</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => parameter.CollectionTypeKey)" />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label class="form-label fw-semibold">Status</label>
                            <InputSelect class="form-select"
                                         @bind-Value="parameter.MemberStatusKey">
                                @foreach (var m in MemoryStoredData.GetMemberStatus().Where(a => a.fblnActive == true).ToList())
                                {
                                    <option value="@m.flngMemberStatusKey">@m.fstrMemberStatus</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => parameter.MemberStatusKey)" />
                        </div>
                    </div>
                </div>

                <!-- Right Side -->
                <div class="col-lg-6">

                    <div class="mb-3">
                        <label class="form-label fw-semibold">Email Address</label>
                        <InputText class="form-control"
                                   @bind-Value="parameter.EmailAddress"
                                   placeholder="Eg.john.doe@AppDomain.com" />
                        <ValidationMessage For="@(() => parameter.EmailAddress)" />
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label fw-semibold">First Name</label>
                            <InputText class="form-control"
                                           @bind-Value="parameter.Firstname"
                                           placeholder="Eg. John"/>
                            <ValidationMessage For="@(() => parameter.Firstname)" />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label class="form-label fw-semibold">Last Name</label>
                            <InputText class="form-control"
                                       @bind-Value="parameter.Lastname"
                                       placeholder="Eg. Doe"/>
                            <ValidationMessage For="@(() => parameter.Lastname)" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label fw-semibold">Currency Type</label>
                            <InputSelect class="form-select"
                                         @bind-Value="parameter.CurrencyKey">
                                @foreach (var c in currencyModel!)
                                {
                                    <option value="@c.fstrCurrencyKey">@c.fstrCurrencyType</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => parameter.CurrencyKey)" />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label class="form-label fw-semibold">Amount</label>
                            <InputNumber class="form-control"
                                         @bind-Value="parameter.Amount" />
                            <ValidationMessage For="@(() => parameter.Amount)" />
                        </div>
                    </div> 
                    
                </div>

                <div class="col-md-6">
                    <label class="form-label fw-semibold">Payment Type</label>
                    <InputRadioGroup @bind-Value="parameter.PaymentTypeKey">
                        <div class="row g-3">

                            @foreach (var p in MemoryStoredData.GetPaymentType().Where(a => a.fblnActive == true).ToList())
                            {
                                <div class="col-12 col-md-6">
                                    <label class="w-100">
                                        <InputRadio class="d-none"
                                                    Value="@p.flngPaymentKey" />

                                        <div class="payment-bubble text-center
                                            @(parameter.PaymentTypeKey == p.flngPaymentKey ? "active" : "")">

                                            @p.fstrPaymentType

                                        </div>
                                    </label>
                                </div>
                            }

                        </div>
                    </InputRadioGroup>
                    <ValidationMessage For="@(() => parameter.PaymentTypeKey)" />
                </div>

            </div>
        </div>

        <!-- ========== Summary ========== -->     
        <div class="row">
            <!--Left-->
            <div class="col-lg-6">
                <div class="section-header d-flex justify-content-between align-items-center mt-5">

                    <div class="d-flex align-items-center">
                        <img width="50" height="50" src="/img/payment.png" class="me-2" />

                        <div class="d-flex flex-column">
                            <span class="fw-semibold">Payment Type Summary</span>
                            <small class="lh-1 small-text">Show the total payment type currently added to the system</small>
                        </div>
                    </div>

                    <div></div>
                </div>
                <div class="card mb-3 rounded-0">

                    <div class="card-body">
                        <div class="d-flex flex-column gap-2">
                            @if (sumPaymentTypeModel.Any())
                            {
                                @foreach (var item in sumPaymentTypeModel)
                                {
                                    <div class="d-flex align-items-center">
                                        <span class=" me-2">@MemoryStoredData.GetPaymentType().FirstOrDefault(s => s.flngPaymentKey == item.flngPaymentTypeKey)!.fstrPaymentType</span>
                                        <span class="flex-grow-1 border-bottom border-dotted text-black mx-2"></span>
                                        <span class="fw-semibold text-muted">@item.fcurAmount.ToString("C2")</span>
                                    </div>
                                }
                            }
                            else
                            {
                                <p class="text-danger">No Payment Type Found</p>
                            }
                        </div>
                    </div>

                    <div class="card-footer bg-success-subtle rounded-0">
                        <div class="d-flex flex-column gap-2">

                            <div class="d-flex align-items-center">
                                <span class="fw-bold text-success me-2">Grand Total</span>
                                <span class="flex-grow-1 text-black mx-2"></span>
                                <span class="fw-bold text-success">@grandTotal.ToString("C2")</span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!--Right-->
            <div class="col-lg-6">
                <div class="section-header d-flex justify-content-between align-items-center mt-5">

                    <div class="d-flex align-items-center">
                        <img width="50" height="50" src="/img/type.png" class="me-2" />

                        <div class="d-flex flex-column">
                            <span class="fw-semibold">Collection Type Summary</span>
                            <small class="lh-1 small-text">Show the total collection type currently added to the system</small>
                        </div>
                    </div>

                    <div></div>
                </div>
                <div class="card mb-3 rounded-0">

                    <div class="card-body rounded-0">
                        <div class="d-flex flex-column gap-2">

                            @if (sumCollectionTypeModel.Any())
                            {
                                @foreach (var item in sumCollectionTypeModel)
                                {
                                    <div class="d-flex align-items-center">
                                        <span class="me-2">@MemoryStoredData.GetCollectionType().FirstOrDefault(s => s.flngCollectionTypeKey == item.flngCollectionTypeKey)!.fstrCollectionType</span>
                                        <span class="flex-grow-1 border-bottom border-dotted text-black mx-2"></span>
                                        <span class="fw-semibold text-muted">@item.fcurAmount.ToString("C")</span>
                                    </div>
                                }
                            }
                            else
                            {
                                <p class="text-danger">No Collection Type Found</p>
                            }
                            

                        </div>
                    </div>

                    <div class="card-footer bg-success-subtle  rounded-0">
                        <div class="d-flex flex-column gap-2">

                            <div class="d-flex align-items-center">
                                <span class=" me-2 text-success fw-bold">Grand Total</span>
                                <span class="flex-grow-1  text-black mx-2"></span>
                                <span class="fw-bold text-success">@grandTotal.ToString("C2")</span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </EditForm>

    <!--Table-->
    <div class="mt-3">
        <div class="section-header d-flex justify-content-between align-items-center mt-5">

            <div class="d-flex align-items-center">
                <img width="50" height="50" src="/img/table.png" class="me-2" />

                <div class="d-flex flex-column">
                    <span class="fw-semibold">Table Data</span>
                    <small class="lh-1 small-text">Show all active and inactive currencies</small>
                </div>
            </div>

            <div>
                <button class="btn btn-sm btn-secondary border-0"
                        type="button"
                        disabled="@reload"
                        @onclick="ReloadTableData">
                    @if (reload)
                    {
                        <span class="spinner-border spinner-border-sm me-2"
                              role="status"
                              aria-hidden="true"></span>
                        <span>Refreshing Table...</span>
                    }
                    else
                    {
                        @("Refresh")
                    }
                </button>
            </div>
        </div>
        <Pagination TItem="CollectionModel"
                    Items="collectionModel"
                    OnRowClick="SelectedCollection"
                    SearchPredicate="SearchCollection"
                    ColumnCount="8"
                    SumSelector="@(s => s.fcurLocalAmount)"
                    SumColumnIndex="6"
                    SumLabel="Total">

            <HeaderTemplate>
                <tr>
                    <th>Name</th>
                    <th>Member Type</th>
                    <th>Collection Type</th>
                    <th>Payment Type</th>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th>Local Amount</th>
                    <th>Submitted By</th>
                </tr>
            </HeaderTemplate>

            <RowTemplate Context="collection">
                <td>@(collection.fstrFirstname + " " + collection.fstrLastname) </td>
                <td>@MemoryStoredData.GetMemberStatus().FirstOrDefault(m => m.flngMemberStatusKey == @collection.flngMemberStatusKey)!.fstrMemberStatus </td>
                <td>@MemoryStoredData.GetCollectionType().FirstOrDefault(m => m.flngCollectionTypeKey == @collection.flngCollectionTypeKey)!.fstrCollectionType </td>
                <td>@MemoryStoredData.GetPaymentType().FirstOrDefault(m => m.flngPaymentKey == @collection.flngPaymentTypeKey)!.fstrPaymentType </td>
                <td>@collection.fstrCurrencyKey</td>
                <td>@collection.fcurAmount.ToString("N2")</td>
                <td>@collection.fcurLocalAmount.ToString("N2")</td>
                <td>
                    <span class="badge bg-success-subtle text-success">
                        @collection.fstrWho
                    </span>
                </td>

            </RowTemplate>

        </Pagination>
    </div>
</div>



@code {
    private CollectionDto parameter = new();
    private IEnumerable<LocationModel> locationModel = [];
    private IEnumerable<CurrencyModel> currencyModel = [];
    private IEnumerable<CollectionModel> collectionModel = [];
    private IEnumerable<SumCollectionTypeModel> sumCollectionTypeModel = [];
    private IEnumerable<SumPaymentTypeModel> sumPaymentTypeModel = [];
    private bool submitting = false;
    private bool canUpdate = false;
    private bool reload = false;
    private int selectedCollectionNumber = 0;
    private decimal grandTotal = 0;


    protected override async Task OnInitializedAsync()
    {
        parameter = new()
            {
                CurrencyKey = User.CurrenyKey,
                LocationKey = User.LocationKey
            };
        await LoadAllDataAsync();
    }

    private async Task OnSelectedValueChanged() => await LoadAllDataAsync();

    private async Task ReloadTableData()
    {
        reload = true;
        await Task.Delay(1000);
        await LoadAllDataAsync();
        reload = false;
    }

    private async Task LoadCurrency()
    {
        currencyModel = await CurrencyService.SelectCurrency(null, User.LocationKey, true) ?? [];
        currencyModel = currencyModel.Where(c => c.fdtmEffectiveFrom.Date <= parameter.TransactionDate!.Value.Date &&
            c.fdtmEffectiveTo.Date >= parameter.TransactionDate!.Value.Date);
    }

    private async Task LoadAllDataAsync()
    {
        try
        {
            selectedCollectionNumber = 1;

            await LoadCurrency();

            locationModel = await LocationService.SelectLocation(null, true) ?? [];

            collectionModel = await CollectionService.SelectCollection(User.LocationKey!, DateTime.Today);

            collectionModel = collectionModel.Where(x => x.flngCollectionNumber == selectedCollectionNumber);

            sumCollectionTypeModel = collectionModel.GroupBy(c => c.flngCollectionTypeKey)
                                                    .Select(c => new SumCollectionTypeModel(c.Key,
                                                                                            c.Where(l => l.fstrLocationKey == User.LocationKey)
                                                                                             .Sum(s => s.fcurLocalAmount)));

            sumPaymentTypeModel = collectionModel.GroupBy(c => c.flngPaymentTypeKey)
                                                    .Select(c => new SumPaymentTypeModel(c.Key,
                                                                                            c.Where(l => l.fstrLocationKey == User.LocationKey)
                                                                                             .Sum(s => s.fcurLocalAmount)));
            grandTotal = collectionModel.Sum(s => s.fcurLocalAmount);
        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
        }

    }

    private async Task ResetProperties()
    {
        parameter = new()
        {
            CurrencyKey = User.CurrenyKey,
            LocationKey = User.LocationKey
        };
        locationModel = [];
        submitting = false;
        canUpdate = false;
        selectedCollectionNumber = 0;

        await LoadAllDataAsync();
    }

    private async Task SelectedCollection(CollectionModel collection)
    {
        canUpdate = true;
        parameter = new()
        {
            CollectionKey = collection.flngCollectionKey,
            Firstname = collection.fstrFirstname,
            Lastname = collection.fstrLastname,
            EmailAddress = collection.fstrEmailAddress,
            TransactionDate = collection.fdtmTransactionDate,
            CollectionNumber = selectedCollectionNumber,
            MemberStatusKey = collection.flngMemberStatusKey,
            CollectionTypeKey = collection.flngCollectionTypeKey,
            PaymentTypeKey = collection.flngPaymentTypeKey,
            Amount = collection.fcurAmount,
            LocalAmount = collection.fcurLocalAmount,
            CurrencyKey = collection.fstrCurrencyKey,
            When = collection.fdtmWhen
        };
        await JS.InvokeVoidAsync("scrollToElement", "autoScroll");
    }

    private bool SearchCollection(CollectionModel collection, string searchText)
    {
        if (string.IsNullOrWhiteSpace(searchText))
            return true;

        return collection.fstrFirstname!.Contains(searchText, StringComparison.OrdinalIgnoreCase)
         || collection.fstrLastname!.Contains(searchText, StringComparison.OrdinalIgnoreCase)
         || MemoryStoredData.GetMemberStatus().FirstOrDefault(c => c.flngMemberStatusKey == collection.flngMemberStatusKey)!.fstrMemberStatus!.Contains(searchText, StringComparison.OrdinalIgnoreCase);
    }

    private void OnDateChanged(DateTime? newDate)
    {
        if (!newDate.HasValue)
            return;

        parameter.TransactionDate = newDate.Value;
       
        currencyModel = currencyModel.Where(c => c.fdtmEffectiveFrom.Date <= parameter.TransactionDate &&
                                            c.fdtmEffectiveTo.Date >= parameter.TransactionDate);
    }

    private async Task OnFormSubmit()
    {
        submitting = true;
        await Task.Delay(1000);

        try
        {
            if (parameter.CollectionNumber == 0)
                return;

            if (currencyModel.Count() != 0)
            {
                var rate = currencyModel.Where(x => x.fstrCurrencyKey == parameter.CurrencyKey &&
                                               x.fdtmEffectiveFrom <= parameter.TransactionDate &&
                                               x.fdtmEffectiveTo >= parameter.TransactionDate)
                                        .Select(x => x.fcurAmount)
                                        .FirstOrDefault();

                if(rate != 0)
                {
                    parameter.LocalAmount = parameter.Amount * rate;
                }
            }

            var message = await (canUpdate ? CollectionService.AddOrUpdateCollection(parameter, false) : CollectionService.AddOrUpdateCollection(parameter));

            ToastService.Show(message.Type, message.Message!);
        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
        }
        finally
        {
            await ResetProperties();
        }
    }

}
