@page "/currency"

@rendermode InteractiveServer

@inject ToastService ToastService
@inject ILocationService LocationService
@inject ICurrencyService CurrencyService
@inject IJSRuntime JS

<!--Auto scroll-->
<div id="autoScroll"></div>

<div class="container-fluid ">

    <!-- ========== Form =========== -->
    <EditForm Model="parameter" OnValidSubmit="OnFormSubmit">
        <DataAnnotationsValidator />            

        <!-- ========== Header ========== -->
        <div class="section-header d-flex justify-content-between align-items-center">

            <div class="d-flex align-items-center">
                <img width="50" height="50" src="/img/currency.png" class="me-2" />

                <div class="d-flex flex-column">
                    <span class="fw-semibold">Currency Module</span>
                    <small class="lh-1 small-text">Manage and configure system currencies</small>
                </div>
            </div>

            <div>
                <button class="btn btn-sm @(canUpdate ? "btn-info text-black" : "btn-primary text-white") border-0"
                        type="submit"
                        disabled="@submitting">
                    @if (submitting)
                    {
                        <span class="spinner-border spinner-border-sm me-2"
                              role="status"
                              aria-hidden="true"></span>
                        <span>Saving...</span>
                    }
                    else
                    {
                        @(canUpdate ? "Update Currency" : "Add Currency")
                    }
                </button>

                <button class="btn btn-sm btn-secondary border-0"
                        type="button"
                        @onclick="ResetProperties">
                    Discard
                </button>
            </div>
        </div>

        <!-- ========== Content ========== -->
        <div class="card shadow-none border-1 rounded-0 p-4">
            <div class="row mt-3">

                <div class="col-lg-6">
               
                   
                   

                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label fw-semibold">Currency Code</label>
                                        <InputText class="form-control"
                                                    @bind-Value="parameter.CurrencyKey"
                                                    placeholder="Eg. JMD, USD"
                                                    maxlength="3" />
                                        <ValidationMessage For="@(() => parameter.CurrencyKey)" />
                                    </div>

                                    <div class="col-md-6 mb-3">
                            <label class="form-label fw-semibold">Currency Type</label>
                                        <InputText class="form-control"
                                                   @bind-Value="parameter.CurrencyType"
                                                   placeholder="Eg. Jamaican Dollars" />
                                        <ValidationMessage For="@(() => parameter.CurrencyType)" />
                                    </div>
                                </div>


                                <div class="mb-3">
                        <label class="form-label fw-semibold">Amount</label>
                                    <InputNumber class="form-control"
                                                    @bind-Value="parameter.Amount" />
                                    <ValidationMessage For="@(() => parameter.Amount)" />
                                </div>

                                <div class="mb-3">
                        <label class="form-label fw-semibold">Campus</label>
                                    <InputSelect class="form-select"
                                                 @bind-Value="parameter.LocationKey">
                                        <option value="">Select Location</option>
                                        @foreach (var l in locationModel)
                                        {
                                            <option value="@l.fstrLocationKey">@l.fstrLocationName</option>
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => parameter.LocationKey)" />
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-3">
                            <label class="form-label fw-semibold">Effective From</label>
                                        <InputDate class="form-control"
                                                   @bind-Value="parameter.EffectiveFrom" />
                                        <ValidationMessage For="@(() => parameter.EffectiveFrom)" />                              
                                    </div>

                                    <div class="col-md-6 mb-3">
                            <label class="form-label fw-semibold">Effective To</label>
                                        <InputDate class="form-control"
                                                   @bind-Value="parameter.EffectiveTo" />
                                        <ValidationMessage For="@(() => parameter.EffectiveTo)" />
                                    </div>
                                </div>                   
                  
                    </div>
          

                <div class="col-lg-6">
              
                    
                    <div class="form-check">
                        <InputCheckbox class="form-check-input"
                                        type="checkbox"
                                        @bind-Value="parameter.Active" />

                        <label class="form-check-label fw-semibold"
                                for="autoCloseIssues">
                            Activate Currency
                        </label>

                        <div class="text-muted small mt-1">
                            A currency must be active to be used the system
                        </div>
                    </div>
                   
                              
                </div>

            </div>
        </div>
    </EditForm>
</div>

<!-- ==========Table Header========== -->
<div class="section-header d-flex justify-content-between align-items-center mt-5">

    <div class="d-flex align-items-center">
        <img width="50" height="50" src="/img/table.png" class="me-2" />

        <div class="d-flex flex-column">
            <span class="fw-semibold">Table Data</span>
            <small class="lh-1 small-text">Show all active and inactive currencies</small>
        </div>
    </div>

    <div>
        <button class="btn btn-sm btn-secondary border-0"
                type="button"
                disabled="@reload"
                @onclick="ReloadTableData">
            @if (reload)
            {
                <span class="spinner-border spinner-border-sm me-2"
                      role="status"
                      aria-hidden="true"></span>
                <span>Refreshing Table...</span>
            }
            else
            {
               @("Refresh")
            }
        </button>
    </div>
</div>

<!-- ==========Table========== -->
<Pagination TItem="CurrencyModel"
            Items="currencyModel"
            OnRowClick="SelectedCurrency"
            SearchPredicate="SearchCurrency"
            ColumnCount="6">

    <HeaderTemplate>
        <tr>
            <th>Currency Code</th>
            <th>Currency Description</th>
            <th>Campus</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Effective From</th>
            <th>Effective To</th>
        </tr>
    </HeaderTemplate>

    <RowTemplate Context="currency">
        <td>@currency.fstrCurrencyKey</td>
        <td>@currency.fstrCurrencyType</td>
        <td>@currency.fstrLocationKey</td>
        <td>@currency.fcurAmount.ToString("C")</td>
        <td>
            <span class="badge @(currency.fblnActive ? "bg-success-subtle text-success" : "bg-danger-subtle text-danger")">
                @(currency.fblnActive ? "Active" : "Inactive")
            </span>
        </td>
        <td class="text-muted">
            @currency.fdtmEffectiveFrom.ToString("MMM dd, yyyy")
        </td>
        <td class="text-muted">
            @currency.fdtmEffectiveTo.ToString("MMM dd, yyyy")
        </td>
    </RowTemplate>

</Pagination>

@code {
    private CurrencyDto                 parameter       = new();
    private IEnumerable<LocationModel>  locationModel   = [];
    private IEnumerable<CurrencyModel>  currencyModel   = [];
    private bool                        submitting      = false;
    private bool                        reload          = false;
    private bool                        canUpdate       = false;


    protected override async Task OnInitializedAsync() => await LoadAllDataAsync();

    private async Task LoadAllDataAsync()
    {
        try
        {
            locationModel = await LocationService.SelectLocation(null, true) ?? [];
            currencyModel = await CurrencyService.SelectCurrency() ?? [];
        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
        }

    }

    private async Task ResetProperties()
    {
        parameter = new();
        locationModel = [];
        submitting = false;
        canUpdate = false;

        await LoadAllDataAsync();
    }

    private async Task ReloadTableData()
    {
        reload = true;
        await Task.Delay(1000);
        await LoadAllDataAsync();
        reload = false;
    }

    private async Task SelectedCurrency(CurrencyModel currency)
    {
        canUpdate = true;
        parameter = new()
        {
            CurrencyKey = currency.fstrCurrencyKey,
            CurrencyType = currency.fstrCurrencyType,
            LocationKey = currency.fstrLocationKey,
            Amount = currency.fcurAmount,
            Active = currency.fblnActive,
            Who = currency.fstrWho,
            EffectiveFrom = currency.fdtmEffectiveFrom,
            EffectiveTo = currency.fdtmEffectiveTo
        };
        await JS.InvokeVoidAsync("scrollToElement", "autoScroll");
    }

    private bool SearchCurrency(CurrencyModel currency, string searchText)
    {
        if (string.IsNullOrWhiteSpace(searchText))
            return true;

        return currency.fstrCurrencyKey!.Contains(searchText, StringComparison.OrdinalIgnoreCase)
        || currency.fstrCurrencyType!.Contains(searchText, StringComparison.OrdinalIgnoreCase)
        || currency.fstrLocationKey!.Contains(searchText, StringComparison.OrdinalIgnoreCase);
    }

    private async Task OnFormSubmit()
    {
        submitting = true;
        await Task.Delay(1000);

        try
        {
            if (string.IsNullOrEmpty(parameter.LocationKey))
                return;

            var message = await (canUpdate ? CurrencyService.AddOrUpdateCurrency(parameter, false) : CurrencyService.AddOrUpdateCurrency(parameter));

            ToastService.Show(message.Type, message.Message!);
        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
        }
        finally
        {
            await ResetProperties();
        }
    }

}
