@page "/dailyreport"

@rendermode InteractiveServer

@inject ToastService ToastService
@inject ILocationService LocationService
@inject ICurrencyService CurrencyService
@inject ICollectionService CollectionService
@inject IReportService ReportService
@inject UserSession User
@inject IJSRuntime JS



<div class="container-fluid">

	<!-- ========== Form =========== -->
	<EditForm Model="parameter" OnValidSubmit="OnFormSubmit">
		<DataAnnotationsValidator />

		<!-- ========== Header ========== -->
		<div class="section-header d-flex justify-content-between align-items-center">

			<div class="d-flex align-items-center">
				<img width="50" height="50" src="/img/daily.png" class="me-2" />

				<div class="d-flex flex-column">
					<span class="fw-semibold">Daily Module</span>
					<small class="lh-1 small-text">Return daily collection items along with totals</small>
				</div>
			</div>

			<div>
				<button class="btn btn-sm @(canUpdate ? "btn-info text-black" : "btn-primary text-white") border-0"
						type="submit"
						disabled="@submitting">
					@if (submitting)
					{
						<span class="spinner-border spinner-border-sm me-2"
							  role="status"
							  aria-hidden="true"></span>
						<span>Saving...</span>
					}
					else
					{
						<span>Generate</span>
					}
				</button>

				<button class="btn btn-sm btn-secondary border-0"
						type="button"
						@onclick="ResetProperties">
					Discard
				</button>
			</div>
		</div>

		<!-- ========== Content ========== -->
		<div class="card border-1 rounded-0 p-4">
			<div class="row mt-3">

				<!-- Left Side -->
				<div class="col-lg-6">

					<label class="form-label fw-semibold">Campus</label>
					<InputSelect class="form-select mb-3"
								 @bind-Value="parameter.LocationKey">
						@foreach (var l in location!)
						{
							<option value="@l.fstrLocationKey">@l.fstrLocationName</option>
						}
					</InputSelect>
					<ValidationMessage For="@(() => parameter.LocationKey)" />
					@*  <AuthorizeView Policy="AdminOnly" Context="authState">
                        <Authorized>
                            <InputSelect class="form-select"
                                         @bind-Value="parameter.LocationKey">
                                @foreach (var l in location!)
                                {
                                    <option value="@l.fstrLocationKey">@l.fstrLocationName</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => parameter.LocationKey)" />
                        </Authorized>
                        <NotAuthorized>
                            <InputSelect class="form-select"
                                         @bind-Value="parameter.LocationKey" disabled>
                                @foreach (var l in location!)
                                {
                                    <option value="@l.fstrLocationKey">@l.fstrLocationName</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => parameter.LocationKey)" />
                        </NotAuthorized>
                    </AuthorizeView> *@

					<div class="mb-3">
						<label class="form-label fw-semibold">Collection Date From</label>
						<InputDate class="form-control"
								   @bind-Value="parameter.TransactionDateFrom"
								   max="@DateTime.Today.ToString("yyyy-MM-dd")" />
						<ValidationMessage For="@(() => parameter.TransactionDateFrom)" />
					</div>


					<div class="mb-3">
						<label class="form-label fw-semibold">Collection No.</label>
						<select class="form-select"
								@bind="parameter.CollectionNumber"
								aria-label="Small select example">
							@foreach (var item in MemoryStoredData.GetCollectionNumber())
							{
								<option value="@item.flngCollectionNumberKey">@item.fstrCollectionNumberType</option>
							}
						</select>
					</div>
				
				</div>

			</div>
		</div>

	</EditForm>

	<!--Table-->
	<div class="mt-3">
		<div class="section-header d-flex justify-content-between align-items-center mt-5">

			<div class="d-flex align-items-center">
				<img width="50" height="50" src="/img/table.png" class="me-2" />

				<div class="d-flex flex-column">
					<span class="fw-semibold">Table Data</span>
					<small class="lh-1 small-text">Show all entries for the day and its total</small>
				</div>
			</div>

			<div>
				<span></span>
			</div>
		</div>

		<!--Auto scroll-->
		<div id="autoScroll"></div>

		<Pagination TItem="DailyReportModel"
					Items="dailyReportModels"
					OnRowClick="SelectedRecords"
					SearchPredicate="SearchRecords"
					ColumnCount="8"
					SumSelector="@(s => s.fcurLocalAmount)"
					SumColumnIndex="7"
					SumLabel="Total">

			<HeaderTemplate>
				<tr>
					<th>Full Name</th>
					<th>Collection No.</th>
					<th>Member Status</th>
					<th>Collection Type</th>
					<th>Payment Type</th>
					<th>Currency</th>
					<th>Amount</th>
					<th>Local Amount</th>
				</tr>
			</HeaderTemplate>

			<RowTemplate Context="dailyReportModels">
				<td>@(dailyReportModels.fstrFirstname + " " + dailyReportModels.fstrLastname) </td>
				<td>@dailyReportModels.flngCollectionNumber</td>
				<td>@MemoryStoredData.GetMemberStatus().FirstOrDefault(m => m.flngMemberStatusKey == @dailyReportModels.flngMemberStatusKey)!.fstrMemberStatus </td>
				<td>@MemoryStoredData.GetCollectionType().FirstOrDefault(m => m.flngCollectionTypeKey == @dailyReportModels.flngCollectionTypeKey)!.fstrCollectionType </td>
				<td>@MemoryStoredData.GetPaymentType().FirstOrDefault(m => m.flngPaymentKey == @dailyReportModels.flngPaymentTypeKey)!.fstrPaymentType </td>
				<td>@dailyReportModels.fstrCurrencyKey</td>
				<td>@dailyReportModels.fcurAmount.ToString("N2")</td>
				<td>@dailyReportModels.fcurLocalAmount.ToString("N2")</td>

			</RowTemplate>

		</Pagination>
	</div>

</div>

@code {

	private DailyReportDto parameter = new();
	private IEnumerable<DailyReportModel> dailyReportModels = [];
	private IEnumerable<LocationModel>? location = [];
	private bool canUpdate = false;
	private bool submitting = false;
	private bool reload = false;

	protected override async Task OnInitializedAsync()
	{
		parameter = new()
		{
			LocationKey = User.LocationKey
		};

		await OnLoad();
	}

	private async Task OnLoad()
	{
		try
		{
			location = await LocationService.SelectLocation(null, true);
		}
		catch { }

	}

	private async Task OnFormSubmit()
	{
		submitting = true;
		await Task.Delay(1000);
		try
		{
			// Ensure that dates and location is passed in
			if (!string.IsNullOrEmpty(parameter.LocationKey) && parameter.TransactionDateFrom.HasValue)
			{

				// Call Repository
				dailyReportModels = await ReportService.DailyReport(parameter);

				// Check if data was returned
				if (dailyReportModels?.Any() == true)
				{
					await JS.InvokeVoidAsync("scrollToElement", "autoScroll");
				}
				else
				{
					ToastService.ShowWarning("No record was found");
				}
			}
			else
			{
				ToastService.ShowWarning("Please ensure the required fields are filled out");
			}
		}
		catch (Exception ex)
		{
			ToastService.ShowError(ex.Message);
		}
		finally
		{
			submitting = false;
		}
	}

	private void ResetProperties()
	{
		parameter = new()
		{
			LocationKey = User.LocationKey
		};
		dailyReportModels = [];
		location = [];
		canUpdate = false;
		submitting = false;
		reload = false;
	}

	private async Task ReloadTableData()
	{
		await OnLoad();
	}

	private void SelectedRecords(DailyReportModel dailyReportModels)
	{

	}

	private bool SearchRecords(DailyReportModel dailyReportModels, string searchText)
	{
		if (string.IsNullOrWhiteSpace(searchText))
			return true;

		return dailyReportModels.fstrFirstname!.Contains(searchText, StringComparison.OrdinalIgnoreCase)
		|| dailyReportModels.fstrLastname!.Contains(searchText, StringComparison.OrdinalIgnoreCase)
		|| MemoryStoredData.GetPaymentType().FirstOrDefault(p => p.flngPaymentKey == dailyReportModels.flngPaymentTypeKey)!.fstrPaymentType!.Contains(searchText, StringComparison.OrdinalIgnoreCase)
		|| MemoryStoredData.GetMemberStatus().FirstOrDefault(p => p.flngMemberStatusKey == dailyReportModels.flngMemberStatusKey)!.fstrMemberStatus!.Contains(searchText, StringComparison.OrdinalIgnoreCase)
		|| MemoryStoredData.GetCollectionType().FirstOrDefault(p => p.flngCollectionTypeKey == dailyReportModels.flngCollectionTypeKey)!.fstrCollectionType!.Contains(searchText, StringComparison.OrdinalIgnoreCase)
		|| dailyReportModels.fstrCurrencyKey!.Contains(searchText, StringComparison.OrdinalIgnoreCase);
	}
}