@page "/summaryreport"
@using QuestPDF.Infrastructure

@rendermode InteractiveServer

@inject ToastService ToastService
@inject ILocationService LocationService
@inject ICurrencyService CurrencyService
@inject ICollectionService CollectionService
@inject IReportService ReportService
@inject UserSession User
@inject IGeneratePDFService Pdf
@inject IJSRuntime JS

@* @attribute [Authorize(Policy = "Report.View")] *@

<div class="container-fluid">

	<!-- ========== Form =========== -->
	<EditForm Model="parameter" OnValidSubmit="OnFormSubmit">
		<DataAnnotationsValidator />

		<!-- ========== Header ========== -->
		<div class="section-header d-flex justify-content-between align-items-center">

			<div class="d-flex align-items-center">
				<img width="50" height="50" src="/img/summary.png" class="me-2" />

				<div class="d-flex flex-column">
					<span class="fw-semibold">Summary Module</span>
					<small class="lh-1 small-text">Return summary information for payment types and collection types</small>
				</div>
			</div>

			<div>
				<AuthorizeView Policy="Report.Generate" Context="authState">
					<Authorized>
						<button class="btn btn-sm btn-primary text-white border-0"
								type="submit"
								disabled="@submitting">
							@if (submitting)
							{
								<span class="spinner-border spinner-border-sm me-2"
									  role="status"
									  aria-hidden="true"></span>
								<span>Saving...</span>
							}
							else
							{
								<span>Generate</span>
							}
						</button>

						<button class="btn btn-sm btn-secondary border-0"
								type="button"
								@onclick="ResetProperties">
							Discard
						</button>
					</Authorized>
				</AuthorizeView>
			</div>
		</div>

		<!-- ========== Content ========== -->
		<div class="card border-1 rounded-0 p-4">
			<div class="row mt-3">
				<!-- Left Side -->
				<div class="col-lg-6">

				

					 <AuthorizeView Policy="AdminOnly" Context="authState">
                        <Authorized>
							<CustomInputSelect Label="Campus"
											   TItem="LocationModel"
											   Items="location"
											   TValue="string"
											   @bind-Value="parameter.LocationKey"
											   ValueSelector="r => (string?)r.fstrLocationKey"
											   TextSelector="r => r.fstrLocationName" />
                        </Authorized>
                        <NotAuthorized>
							<CustomInputSelect Label="Campus"
											   TItem="LocationModel"
											   Items="location"
											   TValue="string"
											   @bind-Value="parameter.LocationKey"
											   ValueSelector="r => (string?)r.fstrLocationKey"
											   TextSelector="r => r.fstrLocationName"
											   Disabled="true"/>
                        </NotAuthorized>
                    </AuthorizeView>

					<div class="row mt-3">
						<div class="col-md-6 mb-3">
							<CustomInputDate Label="Collection Date From"
											 @bind-Value="@parameter.TransactionDateFrom"
											 DisableFutureDates="true" />
							
						</div>

						<div class="col-md-6 mb-3">
							<CustomInputDate Label="Collection Date To"
											 @bind-Value="@parameter.TransactionDateTo"
											 DisableFutureDates="true" />
							
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<InputRadioGroup @bind-Value="SelectedOption" class="w-100">
					<div class="row g-3">

						@foreach (var option in FilteredOptions)
						{						
							<div class="col-md-4">
								<InputRadio class="btn-check"
											Value="option.Value"
											id="@option.Value" />

								<label class="card radio-card h-100 p-3 text-center"
									   for="@option.Value">

									<div class="mb-2">
										<i class="@option.Icon fs-2 text-primary"></i>
									</div>

									<h6 class="fw-bold">@option.Title</h6>
									<small class="text-muted">@option.Description</small>

								</label>
							</div>
						}

					</div>
				</InputRadioGroup>
			</div>
		</div>

	</EditForm>

	<!--Table-->
	<div class="mt-3">
		<div class="section-header d-flex justify-content-between align-items-center mt-5">

			<div class="d-flex align-items-center">
				<img width="50" height="50" src="/img/table.png" class="me-2" />

				<div class="d-flex flex-column">
					<span class="fw-semibold">Table Data</span>
					<small class="lh-1 small-text">Show payment and collection list and montly summary</small>
				</div>
			</div>

			<div>
				@* <span class="text-success-emphasis">@summaryModels.GrandTotal.ToString("C2")</span> *@
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Export to PDF</button>
			</div>
		</div>

		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Add Note</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<label class="form-label mb-1 fw-bold text-black" for="vendor"> Notes </label>
						<InputTextArea class="form-control" @bind-Value="Note" maxlength=500 style="min-height: 200px;" />
					</div>
					<div class="modal-footer">					
						<button type="button" @onclick="PrintPDF" class="btn btn-primary">Export PDF</button>
					</div>
				</div>
			</div>
		</div>


		<!--Auto scroll-->
		<div id="autoScroll"></div>
		<div class="Card border-1 rounded-0">

			@* <div class="card-header">

				<div>
					<AuthorizeView Policy="AdminOnly" Context="authState">
						<Authorized>

							<div class="my-3 mt-5">
								<div class="d-flex gap-3">
									<CustomInputSelect Label="Select Conversion"
													   TItem="CurrencyModel"
													   Items="currency"
													   TValue="decimal"
													   OnSelectedValueChanged="OnSelectedValueChanged"
													   @bind-Value="SelectedItems"
													   ValueSelector="r => (decimal)r.fcurAmount!"
													   TextSelector='r => $"{r.fstrCurrencyType} {r.fcurAmount.ToString("N")}"' />
								</div>
							</div>

						</Authorized>
					</AuthorizeView>
				</div>
			</div> *@
			
			<div class="card-body">
				<table class="table table-borderless table-responsive text-center align-middle">
					<thead class="border-bottom">
						<tr>
							<th class="text-start">Type</th>

							@foreach (var column in summaryModels.Columns)
							{
								<th class="text-end">@column</th>
							}

							<th class="text-end">Total</th>
						</tr>
					</thead>

					<tbody>
						@if (summaryModels.Rows.Any())
						{
							@foreach (var row in summaryModels.Rows)
							{
								<tr>
									<td class="text-start">@row</td>

									@foreach (var column in summaryModels.Columns)
									{
										var key = (row, column);
										decimal value = 0;

										if (showUSD)
											summaryModels.CellTotalsUSD.TryGetValue(key, out value);
										else
											summaryModels.CellTotals.TryGetValue(key, out value);

										<td class="text-end">@value.ToString("N2")</td>
									}

									@{
										decimal rowTotal = 0;

										if (showUSD)
											summaryModels.RowTotalsUSD.TryGetValue(row, out rowTotal);
										else
											summaryModels.RowTotals.TryGetValue(row, out rowTotal);
									}

									<td class="text-end">@rowTotal.ToString("N2")</td>
								</tr>
							}

						}
						else
						{
							<tr>
								<td colspan="2" class="text-danger text-center">No Data Found</td>
							</tr>
						}

					</tbody>

					<tfoot>
						<tr>
							<th class="text-start">Total</th>

							@foreach (var column in summaryModels.Columns)
							{
								decimal colTotal = 0;

								if (showUSD)
									summaryModels.ColumnTotalsUSD.TryGetValue(column, out colTotal);
								else
									summaryModels.ColumnTotals.TryGetValue(column, out colTotal);

								<th class="text-end">@colTotal.ToString("N2")</th>
							}

							<th class="text-end">
								@(showUSD
																? summaryModels.GrandTotalUSD.ToString("N2")
																: summaryModels.GrandTotal.ToString("N2"))
							</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>


		<!--Conversion-->
		<div class="section-header d-flex justify-content-between align-items-center mt-5">

			<div class="d-flex align-items-center">
				<img width="50" height="50" src="https://img.icons8.com/3d-fluency/94/transaction.png" class="me-2" />

				<div class="d-flex flex-column">
					<span class="fw-semibold">Conversion</span>
					<small class="lh-1 small-text">Convert local currency to a different currency</small>
				</div>
			</div>			
		</div>
		<div class="card mb-5">
			<div class="card-body bg-white">
				<AuthorizeView Policy="AdminOnly" Context="authState">
					<Authorized>

						<div class="row my-3 ">
							<div class="col-md-3">
								<CustomInputSelect Label=""
												   TItem="CurrencyModel"
												   Items="currency"
												   TValue="CurrencyModel"												
												   @bind-Value="SelectedItems"
												   ValueSelector="r => r"
												   TextSelector='r => $"{r.fstrCurrencyType} {r.fcurAmount.ToString("N")}"' />
							
							</div>
							<div class="col-md-3">
								<button class="btn btn-primary" type="button" @onclick="OnSelectedValueChanged">Convert</button>
							</div>
						</div>

					</Authorized>
				</AuthorizeView>
			</div>

		</div>
	

	</div>

</div>

@code {

	private SummaryReportDto parameter = new();
	private IEnumerable<LocationModel>? location = [];
	private List<CurrencyModel>? currency = [];

	private PivotSummaryModel summaryModels = new();

	private string LocationName = "";
	private string Note = "";

	private List<RadioButtonModel> Options = new();

	private bool showUSD = false;
	private CurrencyModel? SelectedItems;


	private string _selectedOption = "paymentlist";
	private string SelectedOption
	{
		get => _selectedOption;
		set
		{
			if (SelectedOption != value)
			{
				_selectedOption = value;
				_ = OnOptionClicked(value);

			}
		}
	}

	private async Task OnSelectedValueChanged()
	{
		if (parameter.TransactionDateFrom.HasValue && parameter.TransactionDateTo.HasValue)
		{
			if (SelectedItems is not null)
			{
				showUSD = true;
				if (SelectedOption == "paymentlist")
				{
					summaryModels = await ReportService.GenerateSummaryReport(parameter, true, false, SelectedItems.fcurAmount);
				}
				if (SelectedOption == "paymentsummary")
				{
					summaryModels = await ReportService.GenerateSummaryReport(parameter, true, true, SelectedItems.fcurAmount);
				}
				if (SelectedOption == "collectionlist")
				{
					summaryModels = await ReportService.GenerateSummaryReport(parameter, false, false, SelectedItems.fcurAmount);
				}
				if (SelectedOption == "collectionsummary")
				{
					summaryModels = await ReportService.GenerateSummaryReport(parameter, false, true, SelectedItems.fcurAmount);
				}
			}
		}
		else
		{
			ToastService.ShowError("Please generate report first");
		}


	}

	private IEnumerable<RadioButtonModel> FilteredOptions =>
		string.IsNullOrEmpty(LocationKey)
			? Options.Where(o => o.Value == "allcampus")      // Only All Campus
			: Options.Where(o => o.Value != "allcampus");     // Everything except All Campus

	private bool submitting = false;



	private string  CurrencyKey = "";
	private decimal ConvertedAmount = 0;

	private string LocationKey
	{
		get => parameter.LocationKey!;
		set
		{
			if (parameter.LocationKey != value)
			{
				parameter.LocationKey = value;

				SelectedOption = null!;

				ResetProperties();

				StateHasChanged(); // Force UI refresh
			}
		}
	}



	protected override async Task OnInitializedAsync()
	{	
		parameter = new()
		{
			LocationKey = User.LocationKey
		};
		await OnLoad();
	}

	protected override void OnParametersSet()
	{
		if (!string.IsNullOrEmpty(parameter.LocationKey) &&
			SelectedOption == "allcampus")
		{
			SelectedOption = null!;
		}
	}

	private async Task PrintPDF()
	{
		QuestPDF.Settings.License = LicenseType.Community;

		if (!string.IsNullOrEmpty(Note))
		{
			var pdfBytes = Pdf.GeneratePdf(summaryModels, User, LocationName, Note);
			var base64 = Convert.ToBase64String(pdfBytes);
			await JS.InvokeVoidAsync("downloadFile", "summary-report.pdf", base64);
			await JS.InvokeVoidAsync("closeModal", "exampleModal");
			Note = "";
			ToastService.ShowError("PDF downloaded successfully");
		}
		else
		{
			ToastService.ShowError("A Note is required before proceeding");
		}


	}

	private async Task OnLoad()
	{
		

		currency = (await CurrencyService.SelectCurrency(null,User.LocationKey, active: true)).ToList();
		// currency.Insert(0, new CurrencyModel
		// {
		// 	fstrCurrencyKey = "",
		// 	fstrCurrencyType = "Select Currency",
		// 	fcurAmount = 1
		// });


		location = await LocationService.SelectLocation(null, true);
		LocationName = location.FirstOrDefault(l => l.fstrLocationKey == User.LocationKey)!.fstrLocationName!;


		Options = new()
		{
			new RadioButtonModel
			{
				Value = "paymentlist",
				Title = "Payment Type List",
				Description = "Show payment type and currency amount",
				Icon = "bi bi-credit-card-2-front-fill"
			},
			new RadioButtonModel
			{
				Value = "paymentsummary",
				Title = "Payment Montly Summary",
				Description = "SHow payment type and monthly totals",
				Icon = "bi bi-credit-card-2-back-fill"
			},
			new RadioButtonModel
			{
				Value = "collectionlist",
				Title = "Collection Type List",
				Description = "Show collection type and currency amount",
				Icon = "bi bi-calendar3"
			},
			new RadioButtonModel
			{
				Value = "collectionsummary",
				Title = "Collection Monthly Summary",
				Description = "Show collection type and monthly totals",
				Icon = "bi bi-calendar3"
			},
			new RadioButtonModel
			{
				Value = "allcampus",
				Title = "Monthly Summary for all Campuses",
				Description = "Show monthly totals for all campuses",
				Icon = "bi bi-calendar3"
			}
		};
		

	}

	private async Task OnOptionClicked(string value)
	{

		if (value == "paymentlist")
		{
			summaryModels = await ReportService.GenerateSummaryReport(parameter, true, false);
		}
		if (value == "paymentsummary")
		{
			summaryModels = await ReportService.GenerateSummaryReport(parameter, true, true);
		}
		if (value == "collectionlist")
		{
			summaryModels = await ReportService.GenerateSummaryReport(parameter, false, false);
		}
		if (value == "collectionsummary")
		{
			summaryModels = await ReportService.GenerateSummaryReport(parameter, false, true);
		}
		await JS.InvokeVoidAsync("scrollToElement", "autoScroll");

		StateHasChanged();
	}

	private Task OnLocationChanged(string value)
	{
		parameter.LocationKey = value;

		ResetProperties();

		return Task.CompletedTask;
	}

	private string Format(decimal value)
	{
		if (value < 0)
		{
			return $"({Math.Abs(value):N2})";
		}
		else if (value == 0)
		{
			return "-";
		}
		else
		{
			return value.ToString("N2");
		}


	}

	private async Task OnFormSubmit()
	{
		submitting = true;
		await Task.Delay(1000);
		try
		{
			summaryModels = await ReportService.GenerateSummaryReport(parameter, true, false);

			await JS.InvokeVoidAsync("scrollToElement", "autoScroll");

		}
		catch (Exception ex)
		{
			ToastService.ShowError(ex.Message);
		}
		finally
		{
			submitting = false;
		}
	}

	private void ResetProperties()
	{
		summaryModels = new();
		submitting = false;
	}
}
